# Logs
logs
*.log
npm-debug.log*
.DS_STORE

# keys
keys/
.env

# Dependency directories
node_modules/
coverage
lib-cov
.nyc_output

# Optional npm cache directory
.npm
.licenses

# Optional eslint cache
.eslintcache

# IntelliJ Idea
.idea/

# livestreams that get downloaded
/src/data/ard-core-livestreams.json
